{% extends "network/layout.html" %} 

{% load static %} 

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}

{% block body %} 
    <div class="container">
        <form id="post-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="post-content">What do you want to post?</label>
                <textarea class="form-control" name="post-content" id="post-content" placeholder="Write something here!"></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Post">
            </div>
        </form>
    </div>
    <div id="main_page"></div>
    <div id="following_page"></div>
    <div id="profile-div">
        <div class="name"><h4 id="name"></h4></div>
        <div class="no-of-follower"><span id="no-of-follower"></span></div>
        <div class="no-of-following"><span id="no-of-following"></span></div>
        <div class="email"><span id="email"></span></div>
        <button id="follow">Follow</button>
        <button id="unfollow">Unfollow</button>
    </div>
{% endblock %}
