{% extends "network/layout.html" %} 

{% load static %} 

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}

{% block body %} 
    <div class="container">
        <form id="post-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="post-content">What do you want to post?</label>
                <textarea class="form-control" name="post-content" id="post-content" placeholder="Write something here!"></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Post">
            </div>
        </form>
    </div>
    <div id="main_page"></div>
    <div id="following_page"></div>
{% endblock %}
