{% extends "network/layout.html" %} 

{% load static %} 

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}

{% block body %} 
    
    <div id="profile-div">
        <div class="name"><h4 id="name">{{ name }}</h4></div>
        <div class="no-of-follower"><span id="no-of-follower">{{ followers|length }} followers</span></div>
        <div class="no-of-following"><span id="no-of-following">{{ following|length }} following</span></div>
        <div class="email"><span id="email">{{ email }}</span></div>
        {% if is_following and user_id != user.id %}
        <button id="unfollow" onclick="follow_or_unfollow('unfollow',{{ user_id }})">Unfollow</button>
        <button id="follow" style="display: none;" onclick="follow_or_unfollow('follow',{{ user_id }})">Follow</button>
        {% elif not is_following and user_id != user.id %}
        <button id="follow" onclick="follow_or_unfollow('follow',{{ user_id }})">Follow</button>
        <button id="unfollow" style="display: none;" onclick="follow_or_unfollow('unfollow',{{ user_id }})">Unfollow</button>
        {% endif %}
    </div>
    <section id="main_page">
        {% for post in page_obj.object_list %}
        <div class="post"> 
            <div class="username"><h5>{{ post.post_user.username }}</h5></div>
            <div class="content" id="post-{{ post.id }}"><p id="content-{{ post.id }}">{{ post.content }}</p></div>
            {% if user == post.post_user %}
            <button id="edit-post-{{ post.id }}" onclick="edit_post({{ post.id }})">Edit</button>
            {% endif %}
        </div>
        {% endfor %}
    </section>
    <nav aria-label="...">
        <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
          </li>
        {% if page_obj.has_next %} 
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% endif %}
        </ul>
      </nav>
{% endblock %}
